
{{> head }}

    
    {{> navbar }}

    <div class="row">
        <div class="col-md-8">
            <h1>Hachito</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque amet dolore itaque ipsam, harum impedit consectetur praesentium odio voluptatum vero? Nisi quis placeat tempore, hic a sunt adipisci aperiam.</p>
        </div>
        <div class="col-md-4">
            <img src="assets/img/Hachi.jpg" class="img-thumbnail" alt="">
        </div>
    </div>

    

    {{> footer }}